<main class="h-screen bg-primary">
  <app-profile></app-profile>
  <div class="flex justify-center">
    <div class="flex bg-secondary text-white">
      <ul>
        @for (upperSec of pointsTable.upperSection; track $index) {
        <li class="p-2 border border-red-200 flex justify-between items-center">
          @if (upperSec.id != 6) {
          <img
            [src]="upperSec.image"
            width="50"
            height="50"
            [alt]="upperSec.name"
          />
          <h4>
            {{ upperSec.name }}
          </h4>
          } @else{
          <div class="pl-1">
            <div>
              <h4>
                {{ upperSec.name }}
              </h4>
              <small>If upper is over 62</small>
            </div>
          </div>
          }
          <div class="flex justify-end gap-1">
            <span
              class="flex items-center justify-center w-10 h-10 bg-transparent p-1 text-sm"
              [ngClass]="upperSec.point ? 'text-yellow' : 'text-slate-500'"
              >{{ upperSec.point }}</span
            >
            <span
              class="flex items-center justify-center w-10 h-10 bg-dark rounded-lg shadow-lg p-1 text-sm font-medium"
              [ngClass]="upperSec.point ? 'text-green' : 'text-slate-500'"
              >{{ upperSec.point }}</span
            >
          </div>
        </li>
        }
      </ul>
      <ul>
        @for (lowerSec of pointsTable.lowerSection; track $index) {
        <li class="p-2 border border-red-200 flex justify-between items-center">
          <img
            [src]="lowerSec.image"
            width="50"
            height="50"
            [alt]="lowerSec.name"
          />

          <h4>
            {{ lowerSec.name }}
          </h4>
          <div class="flex justify-end gap-1">
            <span
              class="flex items-center justify-center w-10 h-10 bg-transparent p-1 text-sm"
              [ngClass]="lowerSec.point ? 'text-yellow' : 'text-slate-500'"
              >{{ lowerSec.point }}</span
            >
            <span
              class="flex items-center justify-center w-10 h-10 bg-dark rounded-lg shadow-lg p-1 text-sm font-medium"
              [ngClass]="lowerSec.point ? 'text-green' : 'text-slate-500'"
              >{{ lowerSec.point }}</span
            >
          </div>
        </li>
        }
      </ul>
    </div>
  </div>
  <div class="flex justify-center h-16">
    <div class="flex justify-between">
      @for (randomNumber of randomNumbers; track $index) {
      <button
        type="button"
        class="w-10 h-10 bg-white rounded-lg shadow-lg p-1 text-center text-black"
        [ngClass]="{ 'border-2 border-yellow': randomNumber.isSelect }"
        (click)="randomNumber.isSelect = !randomNumber.isSelect"
      >
        {{ randomNumber.value }}
      </button>
      }
    </div>
  </div>

  <div class="flex justify-center gap-5">
    <button
      type="button"
      class="bg-blue"
      [disabled]="roll === 0"
      (click)="generateRandomNumbers()"
    >
      Roll {{ roll }}
    </button>
    <button type="button" class="bg-green" (click)="submitRound()">Play</button>
  </div>
</main>
