<main>
  <app-profile></app-profile>
  <div class="flex justify-center">
    <div class="flex bg-secondary text-white">
      <ul>
        @for (upperSec of pointsTable.upperSection; track $index) {
        <li
          class="px-2 py-1 border border-red-200 flex justify-between items-center cursor-pointer"
          [ngClass]="{ 'border-2 border-green': upperSec.isSelect }"
          [ngClass]="{ 'bg-dark cursor-not-allowed': upperSec.submittedPoint }"
          (click)="selectUpperSectionPoint(upperSec)"
        >
          <img
            [src]="upperSec.image"
            width="50"
            height="50"
            [alt]="upperSec.name"
          />
          <h4 class="!mb-0">
            {{ upperSec.name }}
          </h4>
          <div class="flex justify-end pl-1">
            @if (upperSec.submittedPoint) {
            <span
              class="flex items-center justify-center w-10 h-10 bg-dark rounded-lg shadow-lg p-1 text-sm font-medium ml-1 text-green"
              >{{ upperSec.submittedPoint }}</span
            >
            }@else {
            <span
              class="flex items-center justify-center w-10 h-10 bg-dark rounded-lg shadow-lg p-1 text-sm font-medium ml-1 text-slate-500"
              >{{ upperSec.point }}</span
            >
            }
          </div>
        </li>
        }
        <div class="flex justify-between items-center bg-dark px-3 py-1">
          <small>Total</small>
          <small>{{ getSectionPointTotal(pointsTable.upperSection) }}</small>
        </div>
      </ul>
      <ul>
        @for (lowerSec of pointsTable.lowerSection; track $index) {
        <li
          class="px-2 py-1 border border-red-200 flex justify-between items-center cursor-pointer"
          [ngClass]="{ 'border-2 border-green': lowerSec.isSelect }"
          [ngClass]="{ 'bg-dark cursor-not-allowed': lowerSec.submittedPoint }"
          (click)="selectLowerSectionPoint(lowerSec)"
        >
          <img
            [src]="lowerSec.image"
            width="50"
            height="50"
            [alt]="lowerSec.name"
          />

          <h4 class="!mb-0">
            {{ lowerSec.name }}
          </h4>
          <div class="flex justify-end pl-1">
            @if (lowerSec.submittedPoint) {
            <span
              class="flex items-center justify-center w-10 h-10 bg-dark rounded-lg shadow-lg p-1 text-sm font-medium ml-1 text-green"
              >{{ lowerSec.submittedPoint }}</span
            >
            }@else {
            <span
              class="flex items-center justify-center w-10 h-10 bg-dark rounded-lg shadow-lg p-1 text-sm font-medium ml-1 text-slate-500"
              >{{ lowerSec.point }}</span
            >
            }
          </div>
        </li>
        }
        <div class="flex justify-between items-center bg-dark px-3 py-1">
          <small>Total</small>
          <small>{{ getSectionPointTotal(pointsTable.lowerSection) }}</small>
        </div>
      </ul>
    </div>
  </div>
  <div class="flex justify-center h-16">
    <div class="flex justify-between">
      @for (randomNumber of randomNumbers; track $index) {
      <button
        type="button"
        class="p-0"
        [ngClass]="{ 'border-2 border-yellow': randomNumber.isSelect }"
        (click)="randomNumber.isSelect = !randomNumber.isSelect"
      >
        <app-dice [value]="randomNumber.value"></app-dice>
      </button>
      }
    </div>
  </div>

  <div class="flex justify-center gap-5">
    <button
      type="button"
      class="bg-blue"
      [disabled]="roll === 0"
      (click)="generateRandomNumbers()"
    >
      Roll {{ "(" + roll + ")" }}
    </button>
    <button type="button" class="bg-green" (click)="submitRound()">Play</button>
  </div>
  <div class="flex justify-center mt-2">
    <h4 class="text-white">{{ round }} round left</h4>
  </div>
</main>
